{% extends 'layout.html' %}

{% block body %}
<h1><i>About SlideWizard</i> </h1>
<p style="font-size: 20px;">The Python programing language provides a wide range of tools and libraries for attacking
  specific NLP tasks. Many of
  these are found in the Natural Language Toolkit, or NLTK, an open source collection of libraries, programs, and
  education resources for building NLP programs.
  <br>
  The NLTK includes libraries for many of the NLP tasks listed above, plus libraries for subtasks, such as sentence
  parsing, word segmentation, stemming and lemmatization (methods of trimming words down to their roots), and
  tokenization (for breaking phrases, sentences, paragraphs and passages into tokens that help the computer better
  understand the text). It also includes libraries for implementing capabilities such as semantic reasoning, the ability
  to reach logical conclusions based on facts extracted from text.
</p>
{% endblock %}