<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SlideWizard</title>
    <link rel="stylesheet" href="static\tryRapid.css" />
    <link rel="stylesheet" href="static\try.css" />
  </head>

  <body>
    <header class="header">
      <h1 style="text-align: center">SlideWizard</h1>

    </header>
    <div class="container">
      <div class="form-container">
        <div class="login-card">
          <h2>Generate PPT from PDF</h2>
          <h3>
            Select a PDF file to convert it into a PowerPoint presentation
          </h3>
          <form
          method="POST"
          action=""
          enctype="multipart/form-data"
          class="generate-form"
        >
        <input type="file" id="myFile" name="pdf_file" accept=".pdf" enctype="multipart/form-data"/>
        <br />
        <button
        type="submit_form"
        name="submit_form"
        class="generate-button"
        enctype="multipart/form-data"
      >
      Generate PPT
      </button>
        </form>          
        </div>
      </div>
      <script>
    </script>
  </body>
</html>
